*,
body {
    margin: 0;
    padding: 0;
}

/* 播放按钮 */
video::-webkit-media-controls-play-button {
    display: none;
}

/* 进度条 */
video::-webkit-media-controls-timeline {
    display: none;
}

/* 观看的当前时间 */
video::-webkit-media-controls-current-time-display {
    display: none;
}

/* 剩余时间 */
video::-webkit-media-controls-time-remaining-display {
    display: none;
}

/* 音量按钮 */
video::-webkit-media-controls-mute-button {
    display: none;
}

video::-webkit-media-controls-toggle-closed-captions-button {
    display: none;
}

/* 音量的控制条 */
video::-webkit-media-controls-volume-slider {
    display: none;
}

video {
    object-fit: fill;
}

.warp {
    height: 100%;
}

/* 设置列表样式 */
.tabs {
    display: flex;
    min-height: 1080px;
}

.tabs h3 {
    padding: 10px;
}

.tabs .list {
    width: 300px;
    background-color: #ddd;
    border-left: 1px solid #ddd;
}

.tabs .list a {
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
    padding: 10px;
    display: block;
}

.tabs .list a:hover {
    background-color: rgb(211, 211, 212);
}

#video {
    animation: video 0s 5s forwards;
    opacity: 0;
}

@keyframes video {
    to {
        opacity: 1;
    }
}

.loading {
    position: relative;
    top: 0;
    left: 0;
    height: 1080px;
    background-color: #000;
}

.loading-img {
    width: 140px;
    height: 140px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
    animation: loading 0s ease-in 5s forwards
}

@keyframes turn {
    0% {
        -webkit-transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(90deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
    }

    75% {
        -webkit-transform: rotate(270deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

.loading-img img {
    width: 100%;
    animation: turn 1.5s linear infinite;
}

@keyframes loading {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
    }

}